In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
md= pd.read_excel('churn data.xlsx')
md.head(10)

,Customer_ID,Gender,Age,Connect_Date,L_O_S,Dropped_Calls,tariff,Churn,Handset,Peak_calls_Sum,...,National_mins,AveNational,All_calls_mins,Usage_Band,Mins_charge,call_cost_per_min,actual_call_cost,Total_call_cost,Total_Cost,average_cost_min
0,K100010,M,46,1999-07-18,15.066667,1,CAT 50,Churned,SOP10,14,...,58.637756,1.221620,60.081645,Low,-241.362244,11.161790,0.0,0.433167,83.833167,1.395321
1,K100020,M,27,1997-09-18,37.333333,0,CAT 50,Churned,SOP10,54,...,60.590001,0.688523,70.369367,Low,-239.409999,11.508876,0.0,2.933810,86.333810,1.226866
2,K100030,M,39,1996-08-23,50.366667,2,CAT 50,Churned,SOP20,44,...,137.400001,2.050746,154.001093,Low,-162.599999,10.283843,0.0,4.980328,88.380328,0.573894
3,K100040,M,28,1998-08-18,26.200000,2,CAT 50,Churned,SOP10,44,...,137.400000,2.050746,154.001076,Low,-162.600000,10.283843,0.0,4.980323,88.380323,0.573894
4,K100070,M,38,1999-10-14,12.133333,1,CAT 50,Churned,SOP20,68,...,64.394557,0.858594,71.067881,Low,-235.605443,13.753894,0.0,2.001997,85.401997,1.201696
5,K100080,M,27,1998-01-20,33.200000,0,CAT 50,Churned,SOP20,40,...,100.074342,1.725420,115.284973,Low,-199.925658,10.100464,0.0,4.563189,87.963189,0.763007
6,K100090,M,38,1996-05-31,53.166667,1,CAT 50,Churned,SOP20,54,...,152.099999,1.728409,176.649292,Low,-147.900001,11.508876,0.0,7.364788,90.764788,0.513813
7,K100100,M,48,1996-07-28,51.233333,0,CAT 50,Churned,SOP20,37,...,94.800000,1.755556,98.761653,Low,-205.200000,11.898734,0.0,1.188496,84.588496,0.856491
8,K100110,M,34,1998-12-11,22.366667,2,CAT 50,Churned,SOP20,37,...,94.800002,1.755556,98.761654,Low,-205.199998,11.898734,0.0,1.188496,84.588496,0.856491
9,K100120,M,32,1997-11-06,35.700000,0,CAT 50,Churned,SOP20,61,...,110.337580,1.071239,123.761138,Low,-189.662420,11.174056,0.0,4.027067,87.427067,0.706418

In [7]:
md.shape

(24999, 31)

In [8]:
print(md.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24999 entries, 0 to 24998
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer_ID             24999 non-null  object
 1   Gender                  24999 non-null  object
 2   Age                     24999 non-null  int64
 3   Connect_Date            24999 non-null  datetime64[ns]
 4   L_O_S                   24999 non-null  float64
 5   Dropped_Calls           24999 non-null  int64
 6   tariff                  24999 non-null  object
 7   Churn                   24999 non-null  object
 8   Handset                 24999 non-null  object
 9   Peak_calls_Sum          24999 non-null  int64
 10  Peak_mins_Sum           24999 non-null  float64
 11  OffPeak_calls_Sum       24999 non-null  int64
 12  OffPeak_mins_Sum        24999 non-null  float64
 13  Weekend_calls_Sum       24999 non-null  int64
 14  Weekend_mins_Sum        24999 non-null  float64
 15  International_mins_Sum  24999 non-null  float64
 16  Nat_call_cost_Sum       24999 non-null  float64
 17  AvePeak                 24999 non-null  float64
 18  AveOffPeak              24999 non-null  float64
 19  AveWeekend              24999 non-null  float64
 20  National_calls          24999 non-null  int64
 21  National_mins           24999 non-null  float64
 22  AveNational             24999 non-null  float64
 23  All_calls_mins          24999 non-null  float64
 24  Usage_Band              24999 non-null  object
 25  Mins_charge             24999 non-null  float64
 26  call_cost_per_min       24981 non-null  float64
 27  actual_call_cost        24999 non-null  float64
 28  Total_call_cost         24999 non-null  float64
 29  Total_Cost              24999 non-null  float64
 30  average_cost_min        24999 non-null  float64
dtypes: datetime64[ns](1), float64(18), int64(6), object(6)
memory usage: 5.9+ MB
None

### Data Consistency

In [9]:
md.dtypes  ## verifing the data type

Customer_ID                       object
Gender                            object
Age                                int64
Connect_Date              datetime64[ns]
L_O_S                            float64
Dropped_Calls                      int64
tariff                            object
Churn                             object
Handset                           object
Peak_calls_Sum                     int64
Peak_mins_Sum                    float64
OffPeak_calls_Sum                  int64
OffPeak_mins_Sum                 float64
Weekend_calls_Sum                  int64
Weekend_mins_Sum                 float64
International_mins_Sum           float64
Nat_call_cost_Sum                float64
AvePeak                          float64
AveOffPeak                       float64
AveWeekend                       float64
National_calls                     int64
National_mins                    float64
AveNational                      float64
All_calls_mins                   float64
Usage_Band                        object
Mins_charge                      float64
call_cost_per_min                float64
actual_call_cost                 float64
Total_call_cost                  float64
Total_Cost                       float64
average_cost_min                 float64
dtype: object

In [10]:
print(md['Gender'].value_counts())     # Check unique values in a categorical column

Gender
F    12523
M    12476
Name: count, dtype: int64

### Data Completeness

In [11]:
missing_values = md.isnull().sum()
print("Missing Values:\n", missing_values)   # Check for missing values

Missing Values:
 Customer_ID                0
Gender                     0
Age                        0
Connect_Date               0
L_O_S                      0
Dropped_Calls              0
tariff                     0
Churn                      0
Handset                    0
Peak_calls_Sum             0
Peak_mins_Sum              0
OffPeak_calls_Sum          0
OffPeak_mins_Sum           0
Weekend_calls_Sum          0
Weekend_mins_Sum           0
International_mins_Sum     0
Nat_call_cost_Sum          0
AvePeak                    0
AveOffPeak                 0
AveWeekend                 0
National_calls             0
National_mins              0
AveNational                0
All_calls_mins             0
Usage_Band                 0
Mins_charge                0
call_cost_per_min         18
actual_call_cost           0
Total_call_cost            0
Total_Cost                 0
average_cost_min           0
dtype: int64

### Data Accuracy

In [12]:
duplicates = md.duplicated().sum()
print(f"Number of duplicate entries: {duplicates}")  # Check for duplicates

Number of duplicate entries: 0

### Data Timeliness

In [13]:
print("Data date range:", md['Connect_Date'].min(), "to", md['Connect_Date'].max())    # Assuming 'churn_date' is a datetime column

Data date range: 1996-01-01 00:00:00 to 1999-12-31 00:00:00

### Data Redundancy

In [14]:
md1= md.drop_duplicates()     # Remove duplicates if necessary
md1

,Customer_ID,Gender,Age,Connect_Date,L_O_S,Dropped_Calls,tariff,Churn,Handset,Peak_calls_Sum,...,National_mins,AveNational,All_calls_mins,Usage_Band,Mins_charge,call_cost_per_min,actual_call_cost,Total_call_cost,Total_Cost,average_cost_min
0,K100010,M,46,1999-07-18,15.066667,1,CAT 50,Churned,SOP10,14,...,58.637756,1.221620,60.081645,Low,-241.362244,11.161790,0.000000,0.433167,83.833167,1.395321
1,K100020,M,27,1997-09-18,37.333333,0,CAT 50,Churned,SOP10,54,...,60.590001,0.688523,70.369367,Low,-239.409999,11.508876,0.000000,2.933810,86.333810,1.226866
2,K100030,M,39,1996-08-23,50.366667,2,CAT 50,Churned,SOP20,44,...,137.400001,2.050746,154.001093,Low,-162.599999,10.283843,0.000000,4.980328,88.380328,0.573894
3,K100040,M,28,1998-08-18,26.200000,2,CAT 50,Churned,SOP10,44,...,137.400000,2.050746,154.001076,Low,-162.600000,10.283843,0.000000,4.980323,88.380323,0.573894
4,K100070,M,38,1999-10-14,12.133333,1,CAT 50,Churned,SOP20,68,...,64.394557,0.858594,71.067881,Low,-235.605443,13.753894,0.000000,2.001997,85.401997,1.201696
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24994,K356720,M,49,1997-04-08,42.766667,0,CAT 200,Active,S50,575,...,1583.699999,2.403187,1622.298064,Med,383.699999,9.078424,34.833913,46.413332,196.413332,0.121071
24995,K356730,F,22,1998-07-13,27.400000,0,CAT 200,Active,WC95,415,...,1157.800000,2.533479,1313.523850,Med,-42.200000,7.912420,0.000000,46.717155,196.717155,0.149763
24996,K356740,M,13,1998-06-03,28.733333,7,CAT 200,Active,CAS30,375,...,1125.000002,2.647059,1153.551596,Med,-74.999998,8.746667,0.000000,8.565478,158.565478,0.137459
24997,K356750,M,58,1999-06-23,15.900000,0,CAT 200,Active,CAS30,763,...,1341.900003,1.608993,1448.069180,Med,141.900003,9.308071,13.208153,45.058906,195.058906,0.134703
24998,K356760,F,17,1999-11-13,11.133333,2,CAT 200,Active,WC95,534,...,1434.899999,2.214352,1548.918764,Med,234.899999,8.340999,19.593007,53.798637,203.798637,0.131575

In [15]:
md1.shape

(24999, 31)

### Summarize DQ Findings

In [16]:
summary=md1.describe()
print(summary)

                Age                   Connect_Date         L_O_S  \
count  24999.000000                          24999  24999.000000
mean      30.348774  1998-01-16 23:09:39.335173504     33.301165
min       12.000000            1996-01-01 00:00:00      9.533333
25%       20.000000            1997-01-11 00:00:00     20.533333
50%       28.000000            1998-01-18 00:00:00     33.266667
75%       38.000000            1999-02-04 00:00:00     45.666667
max       82.000000            1999-12-31 00:00:00     58.200000
std       12.835550                            NaN     14.255039

       Dropped_Calls  Peak_calls_Sum  Peak_mins_Sum  OffPeak_calls_Sum  \
count   24999.000000    24999.000000   24999.000000       24999.000000
mean        2.443538      244.262090     724.225398          96.467099
min         0.000000        0.000000       0.000000           0.000000
25%         0.000000       57.000000     327.000000          25.000000
50%         1.000000      168.000000     632.400001          67.000000
75%         2.000000      355.000000    1035.600000         141.000000
max        15.000000     1725.000000    2893.800001         647.000000
std         3.023947      244.695578     518.814193          93.471359

       OffPeak_mins_Sum  Weekend_calls_Sum  Weekend_mins_Sum  ...  \
count      24999.000000       24999.000000      24999.000000  ...
mean         288.708725          15.693348         47.152261  ...
min            0.000000           0.000000          0.000000  ...
25%          132.600000           4.000000         20.000000  ...
50%          258.000000          10.000000         40.200000  ...
75%          415.800000          22.000000         68.499999  ...
max         1146.000000         124.000000        205.000000  ...
std          194.779293          16.380505         35.875937  ...

       National_calls  National_mins   AveNational  All_calls_mins  \
count    24999.000000   24999.000000  24999.000000    24999.000000
mean       356.422537    1060.086384      4.156837     1249.519651
min          0.000000       0.000000      0.000000        0.000000
25%        156.000000     642.200000      2.205000      755.725219
50%        292.000000     981.300000      2.950000     1149.740260
75%        486.000000    1409.999999      4.517320     1663.879089
max       2014.000000    3550.800000     58.840909     4191.360148
std        266.150656     569.277973      3.938587      677.806441

        Mins_charge  call_cost_per_min  actual_call_cost  Total_call_cost  \
count  24999.000000       24981.000000      24999.000000     24999.000000
mean      97.575883          10.238101         20.923311        81.173701
min    -1749.600000           2.000000          0.000000         0.000000
25%     -118.500000           8.661073          0.000000        36.497065
50%       90.000000           9.639399          9.208732        67.116331
75%      312.900000          11.915609         32.681981       107.901938
max     2350.800000          25.000000        202.490395       474.433782
std      462.974996           2.120988         29.222683        63.784636

         Total_Cost  average_cost_min
count  24999.000000      24999.000000
mean     194.973415          0.223113
min       59.940000          0.064074
25%      131.330678          0.143628
50%      180.898005          0.160725
75%      244.775245          0.184736
max      624.433782         59.940000
std       86.560715          1.606291

[8 rows x 25 columns]

In [17]:
iqr_report = {}

In [22]:
for column in md1.select_dtypes(include=['float64', 'int64']).columns:
    Q1 = md1[column].quantile(0.25)
    Q3 = md1[column].quantile(0.75)
    IQR = Q3 - Q1
    iqr_report[column] = {
        'Q1': Q1,
        'Q3': Q3,
        'IQR': IQR,
        'Lower Bound': Q1 - 1.5 * IQR,
        'Upper Bound': Q3 + 1.5 * IQR}

In [23]:
iqr_report_df = pd.DataFrame.from_dict(iqr_report, orient='index')

In [24]:
print(iqr_report_df)

                                Q1           Q3         IQR  Lower Bound  \
Age                      20.000000    38.000000   18.000000    -7.000000
L_O_S                    20.533333    45.666667   25.133334   -17.166668
Dropped_Calls             0.000000     2.000000    2.000000    -3.000000
Peak_calls_Sum           57.000000   355.000000  298.000000  -390.000000
Peak_mins_Sum           327.000000  1035.600000  708.600000  -735.900000
OffPeak_calls_Sum        25.000000   141.000000  116.000000  -149.000000
OffPeak_mins_Sum        132.600000   415.800000  283.200000  -292.200000
Weekend_calls_Sum         4.000000    22.000000   18.000000   -23.000000
Weekend_mins_Sum         20.000000    68.499999   48.499999   -52.749999
International_mins_Sum   73.157046   268.658402  195.501356  -220.094988
Nat_call_cost_Sum         0.000000    32.913703   32.913703   -49.370555
AvePeak                   1.979345     5.752941    3.773595    -3.681048
AveOffPeak                1.952363     5.858666    3.906304    -3.907093
AveWeekend                1.867695     5.250000    3.382306    -3.205764
National_calls          156.000000   486.000000  330.000000  -339.000000
National_mins           642.200000  1409.999999  767.799999  -509.499998
AveNational               2.205000     4.517320    2.312320    -1.263480
All_calls_mins          755.725219  1663.879089  908.153870  -606.505586
Mins_charge            -118.500000   312.900000  431.400000  -765.600001
call_cost_per_min         8.661073    11.915609    3.254536     3.779269
actual_call_cost          0.000000    32.681981   32.681981   -49.022971
Total_call_cost          36.497065   107.901938   71.404874   -70.610245
Total_Cost              131.330678   244.775245  113.444568   -38.836173
average_cost_min          0.143628     0.184736    0.041109     0.081964

                        Upper Bound
Age                       65.000000
L_O_S                     83.366668
Dropped_Calls              5.000000
Peak_calls_Sum           802.000000
Peak_mins_Sum           2098.500000
OffPeak_calls_Sum        315.000000
OffPeak_mins_Sum         840.600000
Weekend_calls_Sum         49.000000
Weekend_mins_Sum         141.249998
International_mins_Sum   561.910436
Nat_call_cost_Sum         82.284259
AvePeak                   11.413334
AveOffPeak                11.718122
AveWeekend                10.323458
National_calls           981.000000
National_mins           2561.699998
AveNational                7.985800
All_calls_mins          3026.109894
Mins_charge              960.000001
call_cost_per_min         16.797413
actual_call_cost          81.704952
Total_call_cost          215.009249
Total_Cost               414.942097
average_cost_min           0.246400

In [26]:
numerical_columns = md.select_dtypes(include=['float64', 'int64'])

In [27]:
percentiles = [0.01, 0.05, 0.1, 0.9, 0.95, 0.99]
percentile_values = numerical_columns.quantile(percentiles)

In [28]:
print("Percentiles (1%, 5%, 10%, 90%, 95%, 99%) for each numerical column:")
percentile_values

Percentiles (1%, 5%, 10%, 90%, 95%, 99%) for each numerical column:

,Age,L_O_S,Dropped_Calls,Peak_calls_Sum,Peak_mins_Sum,OffPeak_calls_Sum,OffPeak_mins_Sum,Weekend_calls_Sum,Weekend_mins_Sum,International_mins_Sum,...,National_calls,National_mins,AveNational,All_calls_mins,Mins_charge,call_cost_per_min,actual_call_cost,Total_call_cost,Total_Cost,average_cost_min
0.01,12.0,10.000000,0.0,1.0,25.196174,0.00,0.000000,0.0,0.000000,2.392614,...,26.0,94.787393,1.567757,108.924424,-1010.204001,5.177408,0.000000,1.520925,62.715631,0.105354
0.05,14.0,12.000000,0.0,10.0,66.000000,4.00,33.299999,0.0,0.000000,13.170585,...,57.0,254.700001,1.731231,294.038924,-806.820000,7.651629,0.000000,7.230712,76.125350,0.120795
0.10,16.0,13.900000,0.0,20.0,106.199999,8.00,55.439999,1.0,4.800000,26.327947,...,85.0,381.000001,1.858795,440.216047,-438.300000,8.005556,0.000000,14.855949,92.279557,0.128241
0.90,49.0,53.166667,8.0,579.0,1439.399999,231.00,570.599999,38.0,99.000000,396.164782,...,720.0,1833.600000,7.409598,2177.265831,631.760002,13.287199,55.903395,163.820987,312.068722,0.224817
0.95,55.0,55.733333,10.0,742.0,1705.200000,288.00,645.930000,50.0,116.500001,477.774350,...,881.1,2110.230000,10.451925,2493.004526,910.230000,13.845438,81.018031,206.472962,356.109133,0.280768
0.99,66.0,57.733333,11.0,1078.0,2353.200000,404.02,805.812000,73.0,147.600000,651.545891,...,1234.0,2673.042000,20.812477,3189.129620,1473.042000,14.679567,137.505273,304.593358,454.593358,0.666799